html, body {
  font-size: 14px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

p {
  font-size: 1rem;
}

span.red {
  color: #CC0000;
}

span.black {
  color: #000;
}

ol {
  list-style-position: inside;
  font-size: 1rem;
}

li.tie {
  font-weight:bold;
}

li .winner {
  color: green;
}

svg {
  overflow: visible;
}

figure {
  text-align: center;
  padding: 2rem;
}
