html, body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

p {
  font-size: 1rem;
}

span.red {
  color: #CC0000;
}

span.black {
  color: #000;
}

ol {
  text-align: center;
  list-style-position: inside;
  font-size: 1rem;
}

li.tie {
  font-weight:bold;
}

li .winner {
  color: green;
}

svg {
  overflow: visible;
}

svg.war-viz {
  display: block;
  margin: auto;
}

.war-viz .faceup-card {
  dominant-baseline: central;
  text-anchor: middle;
}

.war-viz .faceup-card.loser {
  fill: rgba(255, 255, 255, 0.4);
}
.war-viz .faceup-card.winner {
  fill: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

figure {
  text-align: center;
  padding: 2rem;
}

.viz-bg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: calc(100vh - 30px);
  margin: 0;
  padding: 15px 0;
  background: #134419;
}
